<div class="container">
  <h2>Posts</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Intro</th>
        <th>Cover</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of posts; let index = index">
        <tr>
          <td>
            <a href="" (click)="details($event, item?.slug)">{{
              item.title
            }}</a>
          </td>
          <td>{{ item.intro }}</td>
          <td>{{ item.cover_imag }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
