<div [formGroup]="form">
  <h1 class="h3 mb-3 font-weight-normal">Post details</h1>
  <div class="mat-caption">Title</div>
  <input
    type="text"
    matInput
    placeholder="Title*"
    formControlName="title"
    name="title"
  />
  <div class="mat-caption">Body</div>
  <ckeditor [editor]="Editor" formControlName="body"></ckeditor>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-primary">Back</button>
  <button type="button" class="btn btn-primary" (click)="save()">Save</button>
</div>
